body{

background:#111;
font-family:Arial;
color:white;

}


.box{

width:350px;
margin:50px auto;
padding:25px;
background:#222;
border-radius:15px;
text-align:center;

}


select,input{

width:90%;
padding:10px;
margin:10px;

border-radius:8px;

}


button{

padding:12px 30px;
background:green;
color:white;
border:none;
border-radius:8px;

}


h2{

font-size:40px;

}
